@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
/* div {
   overflow: hidden;
} */

header {
   background: linear-gradient(
      111.98deg,
      #db71ce 0%,
      #68326c 53.76%,
      #1d0618 100%
   );
}
.container {
   width: 100%;
   padding: 0px 20px;
}
#section-2 {
   background-image: url("/assets/images/section2.png");
   background-size: cover;
}

#section-3 {
   /* background-image: url("/assets/images/section3.png"); */
}

#section3-mockup {
   background-image: url("/assets/images/shapes.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

#section-3-sub {
   background-image: url("/assets/images/Ellipse2.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

.section-4-active {
   color: white;
}
#section-6 {
   background: linear-gradient(96.96deg, #7e74f1 0%, #db71ce 100%);
}

.faq {
   padding: 10px;
   text-align: left;
   width: 80%;
   overflow: hidden;
}
.faq_container {
   border-bottom: 1px solid #6e3672;
}

.faq__question {
   margin: 5px;
   cursor: pointer;
   padding: 20px 0px 20px 40px;
   width: 70%;
   text-align: left;
   border: none;
   outline: none;
   transition: 0.4s;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.5;
   position: relative;
   transition: all 0.2s ease;
}

.faq__question:after {
   content: "\02795";
   position: absolute;
   left: 10px;
   font-size: 14px;
}

.faq__question_active:after {
   content: "\2796";
   color: white;
   position: absolute;
   left: 10px;
   font-size: 14px;
}

.faq__subtitle {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.55;
   padding-top: 8px;
   padding-bottom: 10px;
}

.faq__panel {
   display: none;
   text-align: left;
   font-size: 14px;
   line-height: 1.5;
   padding-left: 45px;
   max-width: 100%;
   overflow: hidden;
   padding-bottom: 30px;
   color: #6e3672;
}

/* .faq__question:hover {
   background-color: #8b7197;
} */

.faq__panel_active {
   display: block;
}

.media_kit {
   border-radius: 10px;
   box-shadow: 0px 0px 4px #9e479278;
   border: 0px;
   cursor: pointer;
}
